@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* --- Scrollbar Customization --- */

/* 1. للمتصفحات الأساسية (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 6px;
  border: 3px solid #1e293b;
}

/* 2. الدارك مود للمتصفحات الأساسية */
.dark ::-webkit-scrollbar-track {
  background: #0f172a;
}

.dark ::-webkit-scrollbar-thumb {
  background: #1e293b;
  border: 3px solid #0f172a;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}

/* 3. التنقل الناعم (Smooth Scroll) */
html {
  scroll-behavior: smooth;
}

/* 4. إعدادات خاصة بـ Firefox فقط (عشان متبوظش Chrome و Edge) */
@supports (-moz-appearance: none) {
  html {
    scrollbar-width: auto;
    scrollbar-color: #475569 #1e293b;
  }
  .dark {
    scrollbar-color: #1e293b #0f172a;
  }
}
